name: Auto Crawl DTU Schedule (Chrome)

on:
  schedule:
    # 23:00 UTC = 6:00 Sáng VN
    # 05:00 UTC = 12:00 Trưa VN
    - cron: '0 5,23 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium ddddocr gitpython webdriver-manager

      - name: Run Crawler Script
        run: python crawl_schedule_to_json.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git pull origin main --rebase
          git add lich_hoc_hom_nay_va_mai.json
          git commit -m "Auto update schedule (6h & 12h)" || exit 0
          git push
